<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>

  <br>

  <b>Text:</b>
  <%= @post.text %>

  <b>Score:</b>
  <%= @post.score %>

</p>

<h3>Comments</h3>

<table>

  <!--Finding all relationship: @post.comments_rel-->
  <!--Finding, alternative all relationship, a.rels(dir: :outgoing, type: Post.comments)-->

<% @post.comments.each do |comment| %>
      <tr>
        <td>
          <%=  comment.title  %>
        </td>

        <td>
          <%= link_to 'Destroy', [@post,comment], method: :delete%>
        </td>
      </tr>
<% end %>
</table>

<p>
  <%= link_to 'New Comment', new_post_comment_path(@post) %>
</p>

<p>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</p>
